In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/eshansharif/projects/fpl-edge/.venv/lib/python3.11/site-packages (2.3.2)
Requirement already satisfied: numpy>=1.23.2 in /Users/eshansharif/projects/fpl-edge/.venv/lib/python3.11/site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/eshansharif/projects/fpl-edge/.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/eshansharif/projects/fpl-edge/.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/eshansharif/projects/fpl-edge/.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/eshansharif/projects/fpl-edge/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd


df = pd.read_csv('/Users/eshansharif/projects/fpl-edge/fpl_data/players.csv')

df.head()

   id first_name            second_name  team  now_cost  total_points
0   1      David            Raya Martín     1        55            26
1   2       Kepa  Arrizabalaga Revuelta     1        44             0
2   3       Karl                   Hein     1        40             0
3   4      Tommy                Setford     1        40             0
4   5    Gabriel   dos Santos Magalhães     1        61            25

In [ ]:
df.sort_values('total_points', ascending=False).head(10)